body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom styling for the hero section */
.hero {
    background-color: #f8f9fa;
    padding: 3rem 0;
    text-align: center;
}

h1, .navbar-brand {
    font-family: 'Nevutica', sans-serif; /* Use 'Nevutica' font for .navbar-brand */
}

/* Add more custom styles as needed */
